html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Josefin Slab' !important;
  scroll-behavior: smooth;
  font-size: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Poiret One' !important;
}

h2 {
  font-family: 'Poiret One' !important;
}

h3 {
  font-family: 'Poiret One' !important;
}

h4 {
  font-family: 'Poiret One' !important;
}

h5 {
  font-family: 'Poiret One' !important;
}

h6 {
  font-family: 'Poiret One' !important;
}
